@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');


@media screen and (max-width: 600px);
@media screen and (max-width: 1300px);

body{
  font-size: 1.6rem;
  line-height: 1.5;
  background: #1d1d1d;
  display: block;
  min-width: 320px;
  font-family: "Open Sans",sans-serif;
  color: #fff;
  margin-left: 13rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}


.my-logo{
  height: 200px;
  width: 200px;
}

.logo-name, .web-developer{
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: large;
}

.main-menu {
  width: 11rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  lefT: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-menu_nav a {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.3rem;
  color: #909096;
  line-height: 5rem;
  border-bottom: 1px solid #afa6a6;
  -webkit-transition: color .3s,background-color .3s;
  -o-transition: color .3s,background-color .3s;
  transition: color .3s,background-color .3s;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  text-decoration: none;
}

a:hover{
  color: #FD9EB5;
}

.social li a {
  color: #909096;
  text-decoration: none;
}

li a:hover{
  color: #FD9EB5;
}

ul {
  list-style-type: none;
  padding: 5px;
}

 .social{
  color: #909096;
  padding: 0 23px;
  font-size: 1.3rem;
}

.page-outer {
  min-height: 100vh;
  position: relative;
  margin-left: 11rem;
}

span.tags.top-tags{
  color: #515152;
}

.top-tags {
  top: 2rem;
  bottom: auto;
}

.top-tags:after {
  content: '<body>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 1.1rem;
  position: absolute;
  margin-left: 1rem;
}

.tags {
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-style: italic;
  font-size: 1.1rem;
  font-family: 'La Belle Aurore',cursive;
}

menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.section-home .text-zone {
    position: relative;
    z-index: 1;
}

.section-full .text-zone {
    padding-left: 5rem;
}

@media screen and (max-width: 1300px)
.section-full:first-child {
    padding-top: 10rem;
}

.window-loaded .section-full {
    opacity: 1;
}
.section-home {
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-full {
    min-height: 100vh;
    padding: 9rem 3rem;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.section-home.loaded .text-zone>* {
    opacity: 1;
}
.section-home .text-zone>* {
    opacity: 0;
}

h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.1rem;
    position: absolute;
    margin-top: -5rem;
    left: -1.5rem;
}
h1 {
  color: #fff;
  margin: 0;
  font-family: font-file-82132;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6.7rem;
  position: relative;
}

h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.1rem;
    position: absolute;
    margin-top: 3.8rem;
    margin-left: 2rem;
}

h2 .blast, h1 .blast {
  opacity: 0;
  display: inline-block;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.text-zone p:first-of-type:before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -2rem;
    left: 2rem;
}

.text-zone p:last-of-type:after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: 2rem;
    bottom: -3rem;
}

.gray-text {
    font-size: 1.6rem;
    letter-spacing: 4px;
    margin-top: 3rem;
    display: block;
    color: #8d8d8d;
}

.flat-button span.bg {
    left: -5%;
    position: absolute;
    background: #08fdd8;
    width: 0;
    height: 100%;
    z-index: 3;
    -webkit-transition: .3s ease-out all;
    -o-transition: .3s ease-out all;
    transition: .3s ease-out all;
    -webkit-transform: skewX(
-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(
-10deg);
}

.flat-button {
    color: white;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    transition: 0.8s;
}

.flat-button span.base {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 3px solid #534f51;
    -webkit-gradient:(0deg, transparent 50%, #27e8a7 50%);
}

a {
    color: #08fdd8;
    -webkit-transition: color .3s;
    -o-transition: color .8s;
    transition: color .3s;
    text-decoration: none;
}
